.blog-filter{
    height: 80px;
    display: flex;
    align-items: center;
    margin: 0 50px;
}
.admin-blog-search{
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 7px 0 0 7px;
}
.admin-search-button{
    height: 50px;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid #BE2C2D;
    background-color: #BE2C2D;
    color: #FFFFFF;
    border-radius:  0 7px 7px 0;
}
.listings h1{
    font-size: 35px;
}
.listed{
    margin: 30px 50px;
    background-color: white;
    color: black;
}
.listed-content{
    display: grid;
    align-items: center;
    grid-template-columns: auto 130px 120px 70px 120px;
    grid-template-rows: 85px; 
    padding: 0 10px;
    font-size: 15px;
    color: #3385ad;
}
.listed-image{
    position: relative;
    width: 200px;
}
.listed span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.listed i{
    padding: 10px;
    color: black;
}
.listed-action{
    display: flex;
}
.addBlog{
    transition: box-shadow .3s;
    border-radius: 20px;
    border: 2px solid #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 150px;
}
.addBlog:hover{
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}
.addBlog h1{
    padding: 0;
    margin: 0;
    color: black;
}
.addBlog h1 i{
    padding-right: 20px;
}
.addBlog h4{
    padding-right: 20px;
}
.loading{
    text-align: center;
    width: 100%;
    padding: 60px 0;
}