@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: 'Openhuninn';
  src: url(../public/fonts/jf-openhuninn-1.1.ttf);
}
@font-face {
  font-family: 'PMingLiU';
  src: url(../public/fonts/PMingLiU.ttf);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Openhuninn','PMingLiU', 'Montserrat', 'Noto Sans TC', sans-serif;
  font-weight: 300;
}
header {
  position: relative;
  background: #BE2C2D;
  height: 110px;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-box {
  width: 80%;
  align-items: center;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
nav {
  align-items: center;
  display: flex;
}
nav span{
  color: white;
  padding: 20px;
}
.nav-mobile{
  display: none;
}
.nav-dropdown{
  display: none;
}
.nav-item{
  display: none;
}
a {
  text-decoration: none;
}
.pointer:hover{
  cursor: pointer;
}
i:hover{
  cursor: pointer;
}
.blog-content a{
  color: rgb(0, 0, 161);
  text-decoration: underline;
} 

.logo {
  width: 230px;
  padding: 20px 0;
}
.logo:hover{
  cursor: pointer;
}
.footer-logo{
  margin: auto;
}
.footer{
    padding: 30px 0;
    background-color: #BE2C2D;
    height: 300px;
    text-align: center;
    color: white;
}
.footer-icons{
   display: block;
   padding: 0%;
}
.footer i {
  margin: 20px 30px;
  font-size: 30px;
  color: white;
}
.footer hr {
  margin: 0 30%;
}
.footer p {
  margin: 20px 0;
  font-size: 15px;
}
.footer .fa-map-marker-alt {
  margin: 0 10px;
  font-size: 17px;
}
.footer .copyright {
  margin: 40px 0 0 0;
  font-size: 10px;
} 

/* PHONE */
@media only screen and (max-width: 1025px) {
  header{
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .toolbar{
    display: none;
  }
  .nav-pc{
    display: none;
  }
  .nav-mobile{
    display: block;
    color: white;
    font-size: 23px;
  }
  .nav-dropdown{
    background-color: #BE2C2D;
  }
  .nav-item{
    display: block;
    color: white;
    padding: 20px;
    text-align: center;
  }
  header{
    height: 80px;
  }
  .footer{
    height: 200px;
    padding: 50px 20px;
  }
  .footer i{
    margin: 20px;
  }
  .footer-logo{
    display: none;
  }
}
