.background {
  background-image: url("../images/bgimg.webp");
  background-size: contain;
  color: white;
  width: 100%;
  height: 25vw;
}
.background .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.background .title h1{
  font-size: 40px;
  text-align: center;
}
.background .title .chineseheader{
  font-size: 35px;
}
.blog-body{
  display: flex;
  justify-content: center;
  height: auto;
}
.blog-path-wrapper{
  position: relative;
  font-size: 22px;
  top: 20px;
  color: #7a7a7a;
  
}
.blog-path{
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}
.blog-path:hover{
  color: #6e6e6e;
  text-decoration: underline;
}
.blog-path-divider{
  color: #7a7a7a;
  font-size: 22px;
  font-weight: 500;
  display: inline-block;
}
.blog-section{
  padding-bottom: 100px;
}
.blog-wrapper{
  height: 100%;
  width: 70%;
}
.blog-list{
  margin: 20px 0;
  width: 95%;
  height: 300px;
  display: flex;
  align-items: center;
}
.blog-date{
  padding: 15px 0;
  color: #999999;
  word-spacing: 5px;
  float: right;
}
.blog-tag{
  padding: 8px 10px;
  background-color: #e9e9eb;
  color: black;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  display: inline-block;
}
.blog-list-img{
  position: relative;
  height: 100%;
  width: 45%;
}
.blog-list-info{
  width: 55%;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
}
.blog-list-title{
  font-size: 23px;
  padding: 10px 0;
}
.blog-list-subtitle{
  display: -webkit-box;
  color: #6e6e6e;
  font-size: 17px;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 90px;
}
.blog-read{
  margin: 30px 0;
  padding: 10px 15px;
  display: inline-block;
  text-align: center;
  background-color: #BE2C2D;
  border: 2px solid #BE2C2D;
  color: white;
}
.blog-read:hover{
  color: #BE2C2D;
  background-color: white;
  cursor: pointer;
}
.subscription{
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("../images/house2.jpg");
    background-size: cover;
    background-position: 50% 50%, 50% 32%;
    height: 300px;
    padding: 70px 0 ;
}
.subscription h1{
  color: white;
  text-align: center;
  font-size: 30px;
}
.subscription-details{
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
.input-email{
  background-color: transparent;
  padding: 20px 0;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 40%;
}
.input-email:focus{
  border-bottom: 1px solid #7a7a7a;
  outline: none;
}
.input-submit{
  margin-left: 30px;
  padding: 10px 40px;
  font-size: 15px;
  text-align: center;
  background-color: #BE2C2D;
  border: 2px solid #BE2C2D;
  color: white;
}

.input-submit:hover{
  color: #BE2C2D;
  background-color: white;
  cursor: pointer;
}
@media only screen and (max-width: 1090px) {
  .blog-wrapper{
    width: 95%;
  }
  .blog-list{
    width: 100%;
  }
  .blog-body{
    flex-direction: column;
  }
  .blog-section{
    padding: 0;
  }
  .subscription{
    box-sizing: border-box;
    padding: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .background{
    display: none;
  }
  .blog-path-wrapper{
    display: none;
  }
  .blog-list-img{
    width: 100%;
    height: 100vw;
  }
  .blog-list-info{
    height: auto;
    width: 100%;
  }
  .background .title h2{
    font-size: 30px;
  }
  .blog-body{
    align-items: center;
    margin: 0 15px;
  }
  .blog-list{
    width: 100%;
    height: auto;
    max-height: 650px;
    flex-direction: column;
  }
  .blog-list-subtitle{
    height: 75px;
  }
  .blog-tag{
    font-size: 10px;
  }
  .blog-list h2 {
    font-size: 20px;
    padding-top: 0;
  }
  .blog-list p{
    font-size: 15px;
  }
  .blog-wrapper{
    max-width: 500px;
    width: 90vw;
  }
  .blog-read{
    padding: 7px 12px;
  }
  .subscription{
    box-sizing: border-box;
    padding: 70px 30px;
    height: 350px;
  }
  .subscription h1{
    color: white;
    text-align: center;
    font-size: 25px;
  }
  .subscription-details{
    flex-direction: column;
  }
  .input-email{
    width: 100%;
  }
  .input-submit{
    margin: 20px 0;
  }
}
/*. sourceMappingURL=style.css.map */
