.blog-sidebar{
    background-color: #f7f7f7;
    height: 100%;
    width: 25%;
    max-width: 300px;
}
.blog-sidebar-m{
    display: none;
}
.blog-sidebar-img{
    margin: 35px 0;
}
.blog-sidebox{
    background-color: white;
    margin: 20px;
    padding: 30px 20px;
    text-align: center;
}
.blog-sidebox a{
    color: #6e6e6e;
    font-size: 16px;
}
.blog-sidebox p{
    color: #6e6e6e;
    font-size: 16px;
    margin: 16 0;
}
.blog-sidebox h1{
    padding-bottom: 10px;
    margin: 0 30px 10px 30px;
    font-size: 25px;
    border-bottom: 2px solid black;
}
.blog-sidebox-signup{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url("../images/house1.jpg");
    background-size: cover;
}
.blog-sidebox-signup h2{
    color: white;
    text-align: left;
  }
.blog-sidebox-signup-button{
    width: 100px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-top: 30px;
    padding: 10px;
}
.blog-sidebox-signup-button:hover{
    background-color: transparent;
    border: 2px solid white;
    background-color: #BE2C2D;
    cursor: pointer;
  }
.blog-sidebox-post a{
    display: block;
    text-align: left;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
    margin: 16px 5px;
}
.icon-wrapper{
    width: 90%;
    margin: 30px auto 0 auto;
    background-color: #f5f5f5;
    border-radius: 20px;
}
.icon-wrapper i{
    color: black;
    font-size: 20px;
    padding: 13px;
}
.icon-wrapper i:hover{
    color: #BE2C2D;
}
@media only screen and (max-width: 1090px) {
    .blog-sidebar{
        display: none;
    }
    .blog-sidebar-m{
        position: relative;
        top:50px;
        background-color: #f7f7f7;
        display: block;
        padding: 30px 0;
    }
    .blog-sidebar{
        width: 100%;
        max-width: 350px;
    }
    .blog-sidebox{
        display: none;
        width: 90%;
        margin: auto;
    }
    .blog-sidebox-post{
        width: 80%;
        display: block;
    }
}